@import url('https://fonts.googleapis.com/css?family=Roboto');

$base-font: 'Roboto';
$title-padding: 3em;
$title-color: white;

h1 {
 color: $title-color;
 font-family: $base-font;
 padding: $title-padding;
}
